@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  position: relative;
  background-image: radial-gradient(#ececec 1%, #6dd5fa, #2980b9);
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}
body header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
body header h1 {
  margin-top: 0.625rem;
  font-size: 3.75rem;
  padding-left: 1.25rem;
  font-family: 'Shadows Into Light', cursive;
  color: #fff;
  line-height: 1;
}
body table {
  margin-top: 0.938rem;
  background-color: #fff;
  border-bottom-left-radius: 0.313rem;
  border-top-left-radius: 0.313rem;
}
body table th,
body table td {
  text-align: center;
  padding: 0.313rem 0.625rem;
  border-radius: 0.313rem;
}
body table tbody tr {
  background-color: rgb(255, 95, 95);
  color: #fff;
}
body table tbody tr:nth-child(2) {
  background-color: rgb(40, 196, 1);
  color: #fff;
}
body .hexagon {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
}
body .hexagon img {
  position: absolute;
  top: -12vh;
  height: 43.75rem;
  width: auto;
}
.cards {
  position: absolute;
  top: 6.25rem;
  left: 1.25rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0.625rem;
}
.card {
  height: 9.375rem;
  width: 6.875rem;
  padding: 0.125rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0.625rem;
}
.card h2 {
  font-size: 1.25rem;
}
.card p {
  font-size: 0.875rem;
  background-color: #f4f4f4;
  box-shadow: 0 0 0.313rem rgba(0, 0, 0, 0.5);
  padding: 0.438rem;
  border-radius: 3.125rem;
}
.card img {
  height: 2.5rem;
  width: auto;
}
.card:nth-child(6) {
  grid-column: 1/2;
  grid-row: 3/4;
}
.card:nth-child(7) {
  grid-column: 2/3;
  grid-row: 3/4;
}
.card:nth-child(8) {
  grid-column: 1/2;
  grid-row: 4/5;
}
.card:nth-child(9) {
  grid-column: 2/3;
  grid-row: 4/5;
}
.card:nth-child(10) {
  grid-column: 3/4;
  grid-row: 4/5;
}
.input-box {
  position: absolute;
  left: 36.25rem;
  top: 10.625rem;
  padding: 1.875rem 1.25rem;
  border: 0.188rem solid #000;
  border-radius: 1.563rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#aee7fc, #2980b9);
}
.input-box h2 {
  font-weight: 600;
}
.input-box .btns {
  width: 100%;
  margin-top: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.btn {
  border: none;
  padding: 0.625rem 1.875rem;
  border-radius: 0.313rem;
  color: #fff;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.375rem;
  font-weight: bolder;
  letter-spacing: 0.188rem;
  z-index: 2;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}
.btn:focus {
  outline: none;
}
.buy {
  background-color: rgb(40, 196, 1);
}
.sell {
  background-color: rgb(255, 95, 95);
}
.box {
  border: none;
  padding-bottom: 0.313rem;
  border-radius: 0.313rem;
  color: #fff;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.25rem;
  font-weight: bolder;
  letter-spacing: 0.188rem;
  z-index: 1;
  transition: all 0.1s ease-in;
}
.box-buy {
  background-color: rgb(24, 121, 0);
}
.box-sell {
  background-color: rgb(134, 51, 51);
}
.box-sell:active,
.box-buy:active {
  padding-top: 0.313rem;
  padding-bottom: 0;
}
.status {
  position: absolute;
  right: 3.125rem;
  top: 15.625rem;
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  border-radius: 1.563rem;
  z-index: 100;
}
.status h2 {
  border-bottom: 0.063rem dashed #c4c4c4;
  margin-bottom: 0.313rem;
}
.status h3 {
  border-bottom: 0.063rem solid #c4c4c4;
  margin-bottom: 0.313rem;
}
.status hr {
  margin-top: 0.625rem;
  background-color: #000;
  border-color: #fff;
  width: 100%;
  height: 0.063rem;
}
.buy-container,
.sell-container {
  position: absolute;
  top: 12.813rem;
  left: 35.313rem;
  padding: 1.875rem;
  width: auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 1.563rem;
  z-index: 100;
  display: none;
  animation: 0.3s ease-in pop-in;
}
.buy-container .fa-times-circle,
.sell-container .fa-times-circle {
  margin-left: 21.25rem;
  height: 1.25rem;
  cursor: pointer;
}
.submit {
  display: block;
  width: 100%;
}
.input-stocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  padding-bottom: 1.25rem;
  border-bottom: 0.063rem solid #c4c4c4;
  margin: 0.625rem 0 1.25rem 0;
}
#amount {
  padding: 0.625rem 0.125rem 0.625rem 0.625rem;
  margin: 1.25rem 0 1.25rem -0.5rem;
  width: 100%;
  border-radius: 3.125rem;
  border: none;
  background-color: #e2e2e2;
}
#amount:focus {
  outline: none;
}
.stock {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 38rem;
  left: 39.875rem;
  height: 1.875rem;
  width: 1.875rem;
  font-size: 0.938rem;
}
.dark::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
  animation: 0.2s ease-in pop-in-dark;
}
@keyframes pop-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes pop-in-dark {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
