@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  background-image: radial-gradient(#ececec 1%, #6dd5fa, #2980b9);
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}
body header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
body header h1 {
  margin-top: 10px;
  font-size: 75px;
  padding-left: 20px;
  font-family: "Shadows Into Light", cursive;
  color: #fff;
  line-height: 1;
}
body table {
  margin-top: 15px;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
body table th,
body table td {
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
}
body table tbody tr {
  background-color: rgb(255, 95, 95);
  color: #fff;
}
body table tbody tr:nth-child(2) {
  background-color: rgb(40, 196, 1);
  color: #fff;
}
body .hexagon {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
}
body .hexagon img {
  position: absolute;
  top: -10vh;
  height: 810px;
  width: auto;
}
.cards {
  position: absolute;
  top: 115px;
  left: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 12px;
}
.card {
  height: 175px;
  width: 125px;
  padding: 4px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}
.card p {
  font-size: 20px;
  background-color: #f4f4f4;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding: 7px;
  border-radius: 50px;
}
.card img {
  height: 50px;
  width: auto;
}
.card:nth-child(6) {
  grid-column: 1/2;
  grid-row: 3/4;
}
.card:nth-child(7) {
  grid-column: 2/3;
  grid-row: 3/4;
}
.card:nth-child(8) {
  grid-column: 1/2;
  grid-row: 4/5;
}
.card:nth-child(9) {
  grid-column: 2/3;
  grid-row: 4/5;
}
.card:nth-child(10) {
  grid-column: 3/4;
  grid-row: 4/5;
}
.input-box {
  position: absolute;
  left: 750px;
  top: 205px;
  padding: 40px;
  border: 3px solid #000;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#aee7fc, #2980b9);
}
.input-box h2 {
  font-weight: 600;
}
.input-box .btns {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.btn {
  border: none;
  padding: 20px 40px;
  padding-bottom: 24px;
  border-radius: 5px;
  color: #fff;
  font-family: "Shadows Into Light", cursive;
  font-size: 22px;
  font-weight: bolder;
  letter-spacing: 3px;
  z-index: 2;
  display: inline-block;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}
.btn:focus {
  outline: none;
}
.buy {
  background-color: rgb(40, 196, 1);
}
.sell {
  background-color: rgb(255, 95, 95);
}
.box {
  border: none;
  padding-bottom: 5px;
  border-radius: 5px;
  color: #fff;
  font-family: "Shadows Into Light", cursive;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 3px;
  z-index: 1;
  transition: all 0.1s ease-in;
}
.box-buy {
  background-color: rgb(24, 121, 0);
}
.box-sell {
  background-color: rgb(134, 51, 51);
}
.box-sell:active,
.box-buy:active {
  padding-top: 5px;
  padding-bottom: 0px;
}
.stock {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 733px;
  left: 812px;
  height: 30px;
  width: 30px;
  font-size: 15px;
}
